.icon {
    border-radius: 4px;
    width: 12%;
    margin-top: 0.25em;
    padding: 0.02em;
    font-size: 13vw;
    color: white;
}


i{
    color : white

}

.women_icon {
    border-radius: 25px;
    width: 6%;
    margin-top: 0.25em;
    padding: 0.02em;
    font-size: 13vw;
    color: white;
}

.child_icon {
    border-radius: 4px;
    width: 0.219em;
    margin-top: 0.25em;
    padding: 0.02em;
    font-size: 13vw;
    color: white;
}

.handi_icon {
    border-radius: 25px;
    width: 0.29em;
    margin-top: 0.25em;
    padding: 0.02em;
    font-size: 13vw;
    color: white;
}

h3 {
    color : white
}

._1 {
    background: linear-gradient(96deg, rgba(246,177,41,1) 0%, rgba(226,134,46,1) 100%);   
    display: flex;
    flex-direction: column;
}

#_1 i {
    margin-top: 7%;
    font-size: 4em;
}

._2{
    background: linear-gradient(96deg, rgba(226,134,46,1) 0%, rgba(226,114,46,1) 100%);
}

._3 {
    background: linear-gradient(96deg, rgba(226,114,46,1) 0%, rgba(226,80,46,1) 100%);
}

#tel {
    font-size: 30px
}

@media screen and (max-width: 500px) {
   p{
        display: none
    }
    #title {
        font-size: 2em;
    }
    #subtitles {
        font-size: 0.5em
    }
    .cc a img {
        border-radius: 50%;
        width: 4rem;
    }
    .icon {
        border-radius: 4px;
        width: 2.5rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
    .women_icon {
        border-radius: 4px;
        width: 2.5rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }

    .handi_icon {
        border-radius: 4px;
        width: 2.5rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
    h3 {
        font-size: 0.9em;
    }

    .child_icon {
        border-radius: 4px;
        width: 1.7rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
    .flag {
        width: 2.8rem;
    }
}

@media screen and (max-width: 750px) {
    .icon {
        border-radius: 4px;
        width: 2.5rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
    .handi_icon {
        border-radius: 4px;
        width: 2.5rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
    .women_icon {
        border-radius: 4px;
        width: 1.25rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
    h3 {
        font-size: 0.55em;
    }
    .child_icon {
        border-radius: 4px;
        width: 1.7rem;
        margin-top: 0.25em;
        padding: 0.02em;
        font-size: 13vw;
        color: white;
    }
}