.container1 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.container_flag {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    align-content: center;
    justify-content: space-around;

}

.title {
    width: 30rem;
}


.container1 p {
    font-size: 0.4em;
}

#maCarte {
    margin: auto;
    height: 400px;
    max-width: 80%;
    border-radius: 8px;
}

#zone_infos {
    margin-top: 9%;
    text-align: center;
}


i.fas.fa-info-circle {
    color: black;
}

i.fas.fa-envelope-square {
    color: yellow;
}

i.fas.fa-first-aid {
    color: green;
}

i.fas.fa-shower {
    color: blue;
}

i.fas.fa-utensils {
    color: brown;
}

i.fas.fa-tshirt {
    color: orange;
}

i.fas.fa-bed {
    color: purple;
}

i.fas.fa-child {
    color: lightgreen;
}

i.fas.fa-female {
    color: cyan;
}

i.fas.fa-wheelchair {
    color: red;
}

.logoban {
    height: 2em;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.2em;
    color: #74154D;
    display: block;
    text-align: center;
}

.resp {
    font-size: 1.9rem;
    font-family: 'Dongle', sans-serif;

}

.resp a {
    color: white;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-size: 1.9rem;
}

i.fa.fa-home {
    font-size: 2rem;
}


@media screen and (max-width: 500px) {
    #maCarte {
        max-width: 95%;
    }

    .container1 {
        margin: 20px;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        line-height: 0.5em;
    }
}