.flex-container {
	margin-left: 1em;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	height: 100vh;
}

.flex-container > a {
	display: flex;
	width: 23rem;
	height: 15rem;
}

#title {
	width : 100%
}

.nav {
	font-family: 'Dongle', sans-serif;
	height: 30vh;
	width: 100%;
}


p {
	color: #E6FA79;
	font-size: 1.5em;
}

.logo {
	border-radius: 2em;
	border: 0.2em solid black;
	width: 20em;
}


.num{
    font-size: 8rem;
}

#homophobie {
	border-radius: 2em;
	margin: 0.25em;
	border: 0.2em solid black;
	width: 20em;
	background-color: purple;
}

#sms {
	border-radius: 2em;
	background-color: white;
	margin: 0.25em;
	border: 0.2em solid black;
	text-align: center
}

.flag {
	border-radius: 10px;
	width : 6rem; 
	font-size: 2rem;
}

.container_flag {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    align-content: center;
    justify-content: space-around;

}

footer {
	height : 15vh;

}

.resp a {
    color: white;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-size: 3.9rem;
}


.resp {
	font-size: 3.9rem;
}

