/* pour le body : */


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #fffbde;
    /*font-family: 'Dongle', sans-serif;*/
}

h1 {
    color: #FFF;
    font-size: 3.5rem;
    font-family: 'Dongle', sans-serif;
    margin: 3px;
}

.flag {
    border-radius: 10px
}

i.fa.fa-home {
    font-size: 4rem;
}

.nav {
    padding: 2em;
    display: flex;
    border-radius: 0 0 20px 20px;
    /*background-color: #FFE1B0;*/
    background-image: linear-gradient(360deg, #d4fc79 20%, #85b547 100%);
    box-shadow: 0 0 10px 0 #d4fc79;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 35px;
}

#title {
    font-size: 3.5em;
}

#subtitle {
    font-family: 'Gondle', sans serif;
    font-size: 1.9em;
}


.cc a img {
    border-radius: 50%;
    width: 5rem
}

.fb .cc {
    flex: 0 0 20%;
}

.flag {
    width: 4rem;
}



#subtitles {
    margin: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

h5 {
    text-align: center;
    margin: -5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: keep-all;
}

a {
    color: black;
}

#openButton {
    background: orange;
}

.c {
    flex: 0 0 32%;
    text-align: center;
    max-width: 25%;
    border-radius: 20px;
    margin-bottom: 5%;
    transition: .6s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
*/
.c:hover {
    transform: translateX(5px);
    transform: scale(1, 0.9);
}

.containerHome {
    justify-content: space-around !important;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    line-height: 1.2rem;
}

span {
    margin-bottom: 30px;
}

h3 {
    font-size: 1em;
}

.covid {
    color: red;
}

/*   FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: black;
    color: white;
    margin-top: 30px;
}



footer img { 
    border-radius:50%;
    width: 3rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

pwa-install::part(openButton) {
    background-color: #E2592E;
}

.resp {
    font-size: 1.9rem;
    font-family:'Dongle', sans-serif; 
}

.resp a {
    color: white;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-size: 1.9rem;
}


.container_flag {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    align-content: center;
    justify-content: space-around;

}


@media screen and (max-width: 500px){
	.flex-container > a {
		display: flex;
		width: 23rem;
		height: 15rem;
	}
	.flex-container {
		margin-left: 1em;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		
	}
	.logo {
		border-radius: 2em;
		border: 0.2em solid black;
		width: 23em;
		height: 23rem;
	}


    .num{
        font-size: 6rem;
    }	
    .flag {
        width: 3rem;
    }
    

}


